//
// Variable definitions

// Background-color for the top-level menu
$menu-bg: black;
$menu-bg-hover: #07c;

// Color for the top-level menu
$menu-co: #ddd;
$menu-co-hover: #fff;

// Border-color settings for the top-level menu and items
$menu-bo: rgba(white, .1);

// Background-color for the sub-menus
$sub-menu-bg: #eee;
$sub-menu-bg-hover: white;

// Color for the sub-menus
$sub-menu-co: #222;
$sub-menu-co-hover: black;

// Border-color settings for the sub-menus and items
$sub-menu-bo: rgba(black, .1);

// Spacing/sizing for the items across the menu
$menu-link-padding: 1em;

//
// The Navigation Menu
//
// Below defined are all the ins and outs for our navigation menu,
// referred to as `.nav`. You may wrap the below settings inside
// `.nav` or any other suitable class too, to make it more strict
// in terms of location.
//
// Example:
//
// <nav class="nav">
//   <ul class="menu">
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//     <li class="menu-item has-children">
//       <a href="/path/to/.../">...
//         <span class="dropdown-icon"></span>
//       </a>
//       <ul class="sub-menu">
//         <li class="menu-item">
//           <a href="/path/to/.../">...</a>
//         </li>
//         <li class="menu-item">
//           <a href="/path/to/.../">...</a>
//         </li>
//       </ul>
//     </li>
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//   </ul>
// </nav>
//

// Zero-down the margin and the padding for menu-lists if not done
// in the base reset
.menu,
.sub-menu {
  margin: 0;
  padding: 0;
}

// Quick border settings
.menu-item,
.sub-menu,
.dropdown-icon {
  border: 0 solid;
}

//
// The Menu-list
//
// Below goes the set-up for our menu-list, carrying several menu-items
// (`.menu-items) as well as sub-menus (`.sub-menu`).

.menu {
  // Make the menu-item take all available space
  .menu-item {
    display: block;

    // Make the menu-items handle the fly-outs smoothly by not allowing
    //    break the flow
    &.has-children {
      &, .menu-item {
        position: relative;
      }
    }

    // Add a separation border except for the last menu-item
    &:not(:last-child) {
      border-width: 0 0 1px;
    }

    // Size-up, align, and make the hyperlinks acquire all the
    // available space
    a {
      padding: $menu-link-padding;
      display: flex;
      justify-content: space-between;
    }
  }

  // Add a seperating border to the sub-menu
  .sub-menu {
    border-width: 1px 0 0;

    // Make the sub-menu hidden
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;

    // Give a transition (fade-in/fade-out effect) to the fly-outs
    transition: visibility .25s, opacity .25s ease-in-out;

    // Hide the menu-items inside a hidden sub-menu to avoid
    // border-flickering
    .menu-item {
      visibility: hidden;
    }
  }

  // Make the sub-menu visible on hovering, selecting, or focusing the
  // parent menu-item
  .menu-item {
    &:hover,
    &:active,
    &:focus {
      > .sub-menu {
        opacity: 1;
        height: auto;
        width: auto;

        // Make the menu-items inside a hidden sub-menu visible and
        // available when its parent menu-item is hovered, selected, or
        // focused.
        &,
        .menu-item {
          visibility: visible;
        }
      }
    }

    // Add some rotation to the dropdown icon when the parent menu item
    // gets hovered, selected, or focused
    > a {
      &:hover,
      &:active,
      &:focus {
        .dropdown-icon {
          &:after {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .dropdown-icon {

    // Make the dropdown icon size-up equally as the containing
    // menu-item, and then fit it properly inside the menu-item
    padding: $menu-link-padding $menu-link-padding * 1.25;
    margin: -1em -1em -1em .5em;
    border-width: 0 0 0 1px;

    // Populate the dropdown-icon element with the help of CSS
    // pseudo-elements
    &:after {
      content: "+";
      display: block;
      transition: transform .25s ease-in-out;
    }
  }
}

// Adjust the direction and dropdown-icon positioning for the
// right-to-left menu
.nav--rtl {
  direction: rtl;
  unicode-bidi: bidi-override;

  .menu {
    .dropdown-icon {
      margin: -1em .5em -1em -1em;
      border-width: 0 1px 0 0;
    }
  }
}

//
// Settings for different screens
//
// Breakpoints or media queries to make our navigation menu adapt according
// to the available screen width.
//

@media only screen and (min-width: 1024px) {
  .nav {
    // Make the top-level menu look horizontal on bigger screens
    .menu {
      display: flex;
      flex-flow: row wrap;

      // Adjust the seperating border for the top-level horizontal menu
      > .menu-item {
        border-width: 0 1px 0 0;

        // Remove the left padding from the dropdown-icon in the top-level menu
        // to maintain the proper whitespace.
        > a {
          .dropdown-icon {
            padding-left: 0;
          }
        }
      }

      .menu-item {
        &:hover,
        &:active,
        &:focus {

          // Give fly-outs (sub-menus) a width on hovering, selecting, focusing
          // of parent menu-item
          > .sub-menu {
            width: 225px;
          }
        }
      }
      // Throw the sub-menus out of the flow to make them appear as fly-outs
      .sub-menu {
        position: absolute;
        z-index: 3000;

        // Make the sub-menu start just from below the parent element
        top: 100%;
        left: 0;

        // Zero-down the border-width as we don't really need separation here
        border-width: 0;

        // This makes the second sub-menu fly-out on the top-right side of their
        // parent sub-menu
        .sub-menu {
          top: 0;
          left: 100%;
        }
      }

      // Zero-down the border-width of the dropdown-icon
      .dropdown-icon {
        border-width: 0;
        padding: $menu-link-padding;
      }
    }
  }

  .nav--rtl {
    .menu {
      > .menu-item {

        // Adjust the padding and spacing for the dropdown-icon in right-to-left
        // navigation menu
        > a {
          .dropdown-icon {
            padding-left: $menu-link-padding;
            padding-right: 0;
          }
        }
      }

      .sub-menu {

        // Align the sub-menu fly-outs from right to left instead of left to
        // right
        top: 100%;
        left: auto;
        right: 0;

        .sub-menu {
          left: auto;
          right: 100%;
        }
      }
    }
  }

  // Align the top-level menu to the center for bigger screens
  .nav--cen {
    .menu {
      justify-content: center;
    }
  }
}

//
// Theming (applying cosmetics)
//

.nav {
  // Background for the top-level menu
  background-color: $menu-bg;

  .menu {
    > .menu-item {
      // Border-color for the top-level menu and items
      &,
      .dropdown-icon {
        border-color: $menu-bo;
      }
    }
    > .menu-item {
      // Text and link color for the top-level menu
      &,
      & > a {
        color: $menu-co;
      }

      // Hover effects for the links in top-level menu

      & > a {
        &:hover,
        &:active,
        &:focus {
          background-color: $menu-bg-hover;
          color: $menu-co-hover;
        }
      }
    }
  }

  .sub-menu {
    // Background for the sub-menus
    background-color: $sub-menu-bg;

    // Border-color for the sub-menus and items
    &,
    .menu-item {
      &,
      .dropdown-icon {
        border-color: $sub-menu-bo;
      }
    }

    .menu-item {
      // Text and link color for the sub-menus
      &,
      a {
        color: $sub-menu-co;
      }

      // Hover effects for the links in the sub-menus
      a {
        &:hover,
        &:active,
        &:focus {
          background-color: $sub-menu-bg-hover;
          color: $sub-menu-co-hover;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}